*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica;
  line-height: 1.4;
}

a{
  color:#333;
  text-decoration: none;
}

.container{
  padding: 0 1rem;
}

.btn{
  border: none;
  background: #555;
  color: orange;
  padding: 7px 2px;
  cursor: pointer;
}
.inputBar{
  flex:"1";
  padding: 5px;
  margin-right:5px;
  border-color:blue
}

.btn:hover {
  background: #666;
}